body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 10px;
}

main {
    padding: 20px;
}

#funFact {
    display: none;
    margin-top: 20px;
    font-style: italic;
    color: #555;
}

form {
    margin-top: 20px;
}

form label {
    display: block;
    margin-top: 10px;
}

form input, form textarea, form button {
    width:100%;
    padding: 10px;
    margin-top: 5px;
}

form button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}
