body {
    background: url('springbg.jpg'); no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 2em auto;
    padding: 20px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    text-align: center;
    color: darkgreen;
    margin: 0.5em 0;
    font-family: "Comic Sans MS";
}

.form-section {
    margin-bottom: 20px;
}

.form-section label {
    display: block;
    margin-bottom: 5px;
}

.form-section input, .form-section select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.table th, .order-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

.table th {
    background-color: #f2f2f2;
}

.submit-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: darkgreen;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.submit-btn:hover {
    background-color: darkgreen;
}

.links {
    text-align: center;
    margin-bottom: 20px;
}

.links a {
    color: green;
    text-decoration: none;
    margin: 0 10px;
}

.links a:hover {
    text-decoration: underline;
}
